*{
    margin: 0;
    padding: 0;
    --background : rgb(135, 131, 131);
    --shadow : rgb(179, 171, 171);
    
}
body{
    background-color: var(--background);
}
.header{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
a{
    all: unset;
    color: white;
    cursor: pointer;
}
.blog-list{
    display: flex;
    flex-direction: column;
}
.list-item{
    margin: 0% 5%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--shadow);
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.list-item-header{
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px var(--shadow);
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
}
.view{
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 85%;
}
.srno{
    width: 10%;
}
.title{
    width: 60%;
}
.title-head{
    width: 60%;
    display: flex;
    justify-content: center;
}
.date-head{
    width: 15%;
}
.operations{
    display: flex;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
.operations a{
    border-radius: 10px;
    display: inline;
    
}
.date{
    display: flex;
    justify-content: center;
    width: 15%;
}
.main-list a:hover{
    background-color: rgb(189, 183, 183) ;
}